<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border">Download PDF Resume</button>

    <div class="accordion text-center" id="accordionSection">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
              Work Experience
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse collapse">
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
              Education
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
              <div style="text-align: left;">
                <h2 class="mb-0">Bachelor of Computer Science</h2>
                <h4 class="text-primary">University of Computer Studies, Yangon</h4>
                <ul>
                    <li>Graduated from UCSY in Feb 2020</li>
                    <li>Internship at Green Hacker Institute (May 2019 - August 2019)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree">
              Certifications
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour">
                Skills
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse">
              <div class="accordion-body">
                    <div class="row" style="text-align: left;">
                        <div class="col">
                            <h3>Programming Languages:</h3>
                            <ul>
                                <li>C#</li>
                                <li>Java</li>
                                <li>JavaScript</li>
                                <li>Php</li>
                                <li>TypeScript</li>
                            </ul>
                        </div>
                        <div class="col">
                            <h3>FrameWorks:</h3>
                            <ul>
                                <li>ASP.NET</li>
                                <li>Spring MVC</li>
                                <li>Angular</li>
                            </ul>
                        </div>
                        <div class="col">
                            <h3>Other Skills:</h3>
                            <ul>
                                <li>Source Control vis Git</li>
                                <li>MVC Architecture</li>
                                <li>Agile Development</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
      </div>
    </div>
</div>