<div class="container">
    <div class="row">
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="gin.jpg" alt="profile picture" width="256" height="256" class="rounded-circle">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque nostrum sint, harum perferendis autem officiis repellendus perspiciatis! Nesciunt, aperiam dolor ullam labore, dolorum consequatur incidunt, possimus odit fuga libero autem.</p>
            </div>
        </div>
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Projects</h2>
                <h4>{{featureProject.name}}</h4>
            </div>
        </div>
    </div>
</div>
